html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    letter-spacing: -0.011em;
    font-family: 'Inter var', sans-serif;
    font-size: 16px;
}

#bigBox {
    width: 100%;
    height: 100%;
    display: flex;
}

#infoContainer {
    width: 30%;
    height: 100%;
    background-color: white;
    /* display: flex; */
}

.grid-container {
    display: flex;
}

#map {
    width: 100%;
    height: 100%;
    /* z-index: -1000; */
}

#mapBar {
    width: 100%;
    height: 10%;
    display: block;
    overflow: visible;
}

#mapContainer {
    width: 70%;
    height: 100%;
}

#overlayDropContainer {
    padding: .5em 0px;
    margin: 5px auto;
    height: 5%;
    width: 200px;
}

/* #overlayDrop {
    padding: .5em 0px;
    margin: 1.50em 2em;
    display: block;
} */

#geoDropContainer {
    padding: .5em 0px;
    height: 5%;
    margin: 5px auto;
    width: 125px;
}

#assetDropContainer {
    display: flex;
    width: 200px;
    height: 5%;

}

.dropRow {
    width: 100%;
}

/* checkboxes */
label,
input[type="checkbox"] + span,
input[type="checkbox"] + span::before
{
    display: inline-block;
    vertical-align: middle;
}
 
label *,
label *
{
    cursor: pointer;
}
 
input[type="checkbox"]
{
    opacity: 0;
    position: absolute;
}
 
input[type="checkbox"] + span
{
    /* font: normal 11px/14px Arial, Sans-serif; */
    color: #333;
    font-size: 1em;
}
 
label:hover span::before,
label:hover span::before
{
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 5px #ccc;
}
 
label:hover span,
label:hover span
{
    color: #000;
}
 
input[type="checkbox"] + span::before
{
    content: "";
    width: 1.1em;
    height: 1.1em;
    margin: 0 5px 0 10px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    transition: all .5s ease;
    padding-top: 3px;
}
 
input[type="checkbox"] + span::before
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
 
input[type="checkbox"]:checked + span::before
{
    content: "\2714";
    font-size: 1em;
}

input[id="cbHort"] + span::before
{
    border: solid 1.5px blue;
    background: white;
}

input[id="cbHort"]:checked + span::before
{
    color: white;
    background: blue;
}

input[id="cbFoodWIse"] + span::before
{
    border: solid 1.5px red;
    background: white;
}

input[id="cbFoodWIse"]:checked + span::before
{
    color: white;
    background: red;
}

input[id="cbCommDev"] + span::before
{
    border: solid 1.5px orange;
    background: white;
}

input[id="cbCommDev"]:checked + span::before
{
    color: white;
    background: orange;
}

input[id="cb4H"] + span::before
{
    border: solid 1.5px gold;
    background: white;
}

input[id="cb4H"]:checked + span::before
{
    color: white;
    background: gold;
}

input[id="cbUrbanAg"] + span::before
{
    border: solid 1.5px green;
    background: white;
}

input[id="cbUrbanAg"]:checked + span::before
{
    color: white;
    background: green;
}

input[id="cbHWB"] + span::before
{
    border: solid 1.5px black;
    background: white;
}

input[id="cbHWB"]:checked + span::before
{
    color: white;
    background: black;
}

input[id="cbYouthDev"] + span::before
{
    border: solid 1.5px purple;
    background: white;
}

input[id="cbYouthDev"]:checked + span::before
{
    color: white;
    background: purple;
}

input[id="cbMarkets"] + span::before
{
    border: solid 1.5px #00bcd4;
    background: white;
}

input[id="cbMarkets"]:checked + span::before
{
    color: white;
    background: #00bcd4;
}



/* checkbox dropdown */
.multiselect {
    width: 100%;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    background-color: azure;
    z-index: 1000;
}

.checkbox {
    padding: 2px 0px;
}